.venv/
__pycache__/
model.pth
validation/
datasets/
models_aidectect/
trained_model.pth
experiments/
cnnlab.ipynb
data/
graph
graph.png
best_proto2.pth
prototype2_release.pth
checkpoint.pth
prototype2_release3.pth
