--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchviz
torchvision
torchinfo
pillow
kagglehub
kaggle
polars
numpy<2
matplotlib
seaborn
tqdm
ipywidgets==7.7.1
transformers
pycocotools
loguru
evaluate
nltk